In [ ]:
"#importing pakages\n",
"import numpy as np\n",
"import pandas as pd\n",
"import matplotlib.pyplot as plt\n",
"df = pd.read_csv('/content/USA_Housing.csv')"
"#knowing the data\n",
"print(df.head)"
"<bound method NDFrame.head of       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \\\n",
            "0         79545.458574             5.682861                   7.009188   \n",
            "1         79248.642455             6.002900                   6.730821   \n",
            "2         61287.067179             5.865890                   8.512727   \n",
            "3         63345.240046             7.188236                   5.586729   \n",
            "4         59982.197226             5.040555                   7.839388   \n",
            "...                ...                  ...                        ...   \n",
            "4995      60567.944140             7.830362                   6.137356   \n",
            "4996      78491.275435             6.999135                   6.576763   \n",
            "4997      63390.686886             7.250591                   4.805081   \n",
            "4998      68001.331235             5.534388                   7.130144   \n",
            "4999      65510.581804             5.992305                   6.792336   \n",
            "\n",
            "      Avg. Area Number of Bedrooms  Area Population         Price  \\\n",
            "0                             4.09     23086.800503  1.059034e+06   \n",
            "1                             3.09     40173.072174  1.505891e+06   \n",
            "2                             5.13     36882.159400  1.058988e+06   \n",
            "3                             3.26     34310.242831  1.260617e+06   \n",
            "4                             4.23     26354.109472  6.309435e+05   \n",
            "...                            ...              ...           ...   \n",
            "4995                          3.46     22837.361035  1.060194e+06   \n",
            "4996                          4.02     25616.115489  1.482618e+06   \n",
            "4997                          2.13     33266.145490  1.030730e+06   \n",
            "4998                          5.44     42625.620156  1.198657e+06   \n",
            "4999                          4.07     46501.283803  1.298950e+06   \n",
            "\n",
            "                                                Address  \n",
            "0     208 Michael Ferry Apt. 674\\nLaurabury, NE 3701...  \n",
            "1     188 Johnson Views Suite 079\\nLake Kathleen, CA...  \n",
            "2     9127 Elizabeth Stravenue\\nDanieltown, WI 06482...  \n",
            "3                             USS Barnett\\nFPO AP 44820  \n",
            "4                            USNS Raymond\\nFPO AE 09386  \n",
            "...                                                 ...  \n",
            "4995                   USNS Williams\\nFPO AP 30153-7653  \n",
            "4996              PSC 9258, Box 8489\\nAPO AA 42991-3352  \n",
            "4997  4215 Tracy Garden Suite 076\\nJoshualand, VA 01...  \n",
            "4998                          USS Wallace\\nFPO AE 73316  \n",
            "4999  37778 George Ridges Apt. 509\\nEast Holly, NV 2...  \n",
            "\n",
            "[5000 rows x 7 columns]>\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#knowing the data\n",
        "print(df.isna().sum())"
      ],
      "metadata": {
        "id": "olcVHUjBqmw7",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "2736dd24-898f-44b5-bd35-beaf240a69af"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "Avg. Area Income                0\n",
            "Avg. Area House Age             0\n",
            "Avg. Area Number of Rooms       0\n",
            "Avg. Area Number of Bedrooms    0\n",
            "Area Population                 0\n",
            "Price                           0\n",
            "Address                         0\n",
            "dtype: int64\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#knowing the data\n",
        "df.shape"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "H2mCHGC-56qr",
        "outputId": "08711b7f-8dfa-431a-ece2-09950b57f0ce"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "(5000, 7)"
            ]
          },
          "metadata": {},
          "execution_count": 4
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#knowing the data\n",
        "df.info()"
      ],
      "metadata": {
        "id": "i69b7oqpqm6-",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "0ae75d63-c6bb-4b97-e7f1-91ff15c66222"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "<class 'pandas.core.frame.DataFrame'>\n",
            "RangeIndex: 5000 entries, 0 to 4999\n",
            "Data columns (total 7 columns):\n",
            " #   Column                        Non-Null Count  Dtype  \n",
            "---  ------                        --------------  -----  \n",
            " 0   Avg. Area Income              5000 non-null   float64\n",
            " 1   Avg. Area House Age           5000 non-null   float64\n",
            " 2   Avg. Area Number of Rooms     5000 non-null   float64\n",
            " 3   Avg. Area Number of Bedrooms  5000 non-null   float64\n",
            " 4   Area Population               5000 non-null   float64\n",
            " 5   Price                         5000 non-null   float64\n",
            " 6   Address                       5000 non-null   object \n",
            "dtypes: float64(6), object(1)\n",
            "memory usage: 273.6+ KB\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "df1.head()"
      ],
      "metadata": {
        "id": "VeG--CKoqnGo",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 206
        },
        "outputId": "14fd72d2-12fb-4918-f22e-d6155088ddf6"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "   Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \\\n",
              "0          0.686822             5.682861                   7.009188   \n",
              "1          0.683521             6.002900                   6.730821   \n",
              "2          0.483737             5.865890                   8.512727   \n",
              "3          0.506630             7.188236                   5.586729   \n",
              "4          0.469223             5.040555                   7.839388   \n",
              "\n",
              "   Avg. Area Number of Bedrooms  Area Population         Price  \n",
              "0                          4.09         0.329942  1.059034e+06  \n",
              "1                          3.09         0.575968  1.505891e+06  \n",
              "2                          5.13         0.528582  1.058988e+06  \n",
              "3                          3.26         0.491549  1.260617e+06  \n",
              "4                          4.23         0.376988  6.309435e+05  "
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-0248ee82-15d6-4f6e-8030-7a9685b258b7\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Avg. Area Income</th>\n",
              "      <th>Avg. Area House Age</th>\n",
              "      <th>Avg. Area Number of Rooms</th>\n",
              "      <th>Avg. Area Number of Bedrooms</th>\n",
              "      <th>Area Population</th>\n",
              "      <th>Price</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>0.686822</td>\n",
              "      <td>5.682861</td>\n",
              "      <td>7.009188</td>\n",
              "      <td>4.09</td>\n",
              "      <td>0.329942</td>\n",
              "      <td>1.059034e+06</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>0.683521</td>\n",
              "      <td>6.002900</td>\n",
              "      <td>6.730821</td>\n",
              "      <td>3.09</td>\n",
              "      <td>0.575968</td>\n",
              "      <td>1.505891e+06</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>0.483737</td>\n",
              "      <td>5.865890</td>\n",
              "      <td>8.512727</td>\n",
              "      <td>5.13</td>\n",
              "      <td>0.528582</td>\n",
              "      <td>1.058988e+06</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>0.506630</td>\n",
              "      <td>7.188236</td>\n",
              "      <td>5.586729</td>\n",
              "      <td>3.26</td>\n",
              "      <td>0.491549</td>\n",
              "      <td>1.260617e+06</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>0.469223</td>\n",
              "      <td>5.040555</td>\n",
              "      <td>7.839388</td>\n",
              "      <td>4.23</td>\n",
              "      <td>0.376988</td>\n",
              "      <td>6.309435e+05</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-0248ee82-15d6-4f6e-8030-7a9685b258b7')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-0248ee82-15d6-4f6e-8030-7a9685b258b7 button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-0248ee82-15d6-4f6e-8030-7a9685b258b7');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 7
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#preprocessing\n",
        "from sklearn.preprocessing import MinMaxScaler\n",
        "sc = MinMaxScaler()\n",
        "df[['Avg. Area Income','Area Population']]=sc.fit_transform(df[['Avg. Area Income','Area Population']])\n",
        "df1=df.drop([\"Address\"],axis=1)"
      ],
      "metadata": {
        "id": "3MLLlrECqnA0"
      },
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "source": [
        "#creating x and y\n",
        "x=df1[[\"Avg. Area Income\",\"Avg. Area House Age\",\"Avg. Area Number of Rooms\",\"Avg. Area Number of Bedrooms\",\"Area Population\"]]\n",
        "print(x)\n",
        "y=df1[\"Price\"]\n",
        "print(y)"
      ],
      "metadata": {
        "id": "BO5FsN9-0zGR",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "d9f57339-4934-42d6-c9ef-cf4ef44b456f"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \\\n",
            "0             0.686822             5.682861                   7.009188   \n",
            "1             0.683521             6.002900                   6.730821   \n",
            "2             0.483737             5.865890                   8.512727   \n",
            "3             0.506630             7.188236                   5.586729   \n",
            "4             0.469223             5.040555                   7.839388   \n",
            "...                ...                  ...                        ...   \n",
            "4995          0.475738             7.830362                   6.137356   \n",
            "4996          0.675097             6.999135                   6.576763   \n",
            "4997          0.507135             7.250591                   4.805081   \n",
            "4998          0.558419             5.534388                   7.130144   \n",
            "4999          0.530715             5.992305                   6.792336   \n",
            "\n",
            "      Avg. Area Number of Bedrooms  Area Population  \n",
            "0                             4.09         0.329942  \n",
            "1                             3.09         0.575968  \n",
            "2                             5.13         0.528582  \n",
            "3                             3.26         0.491549  \n",
            "4                             4.23         0.376988  \n",
            "...                            ...              ...  \n",
            "4995                          3.46         0.326351  \n",
            "4996                          4.02         0.366362  \n",
            "4997                          2.13         0.476515  \n",
            "4998                          5.44         0.611282  \n",
            "4999                          4.07         0.667088  \n",
            "\n",
            "[5000 rows x 5 columns]\n",
            "0       1.059034e+06\n",
            "1       1.505891e+06\n",
            "2       1.058988e+06\n",
            "3       1.260617e+06\n",
            "4       6.309435e+05\n",
            "            ...     \n",
            "4995    1.060194e+06\n",
            "4996    1.482618e+06\n",
            "4997    1.030730e+06\n",
            "4998    1.198657e+06\n",
            "4999    1.298950e+06\n",
            "Name: Price, Length: 5000, dtype: float64\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#creating test and training set\n",
        "from sklearn.model_selection import train_test_split\n",
        "X_train, X_test, y_train, y_test = train_test_split(x, y, test_size= 0.25, random_state = 4)"
      ],
      "metadata": {
        "id": "bDBITYC57aiW"
      },
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "source": [
        "#model building \n",
        "from sklearn.linear_model import LinearRegression\n",
        "model=LinearRegression()"
      ],
      "metadata": {
        "id": "xZ6u_x-VqnNY"
      },
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "source": [
        "model.fit(X_train,y_train)"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "XMq6UaqA4x4i",
        "outputId": "f8acfeda-d156-4018-e1e8-692047da1c1c"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "LinearRegression()"
            ]
          },
          "metadata": {},
          "execution_count": 35
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "print(model.intercept_)\n"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "kbpUI1OYUBJv",
        "outputId": "b8e7193d-58e5-450a-fc56-00e87dcaa018"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "-2249502.6509735957\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#predicticg the y value\n",
        "ypred= model.predict(X_test)\n",
        "print(ypred)"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "pnNwSUQLWar9",
        "outputId": "66b1a792-1cb3-49a5-9c33-8e2d14b9baeb"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "[1161843.62254892 1102258.81671246 1186592.69708807 ... 1294509.60273836\n",
            " 1753048.53923373 1043884.5357145 ]\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "plt.scatter(y_test,ypred)\n",
        "print(y_test)\n",
        "print(ypred)"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 532
        },
        "id": "O4dKL4SMTuJx",
        "outputId": "e5b0f4d9-a341-4990-f07a-c978354408d6"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "2175    1.051173e+06\n",
            "3156    1.139073e+06\n",
            "337     1.236932e+06\n",
            "444     5.668962e+05\n",
            "2334    9.346104e+05\n",
            "            ...     \n",
            "4622    1.145804e+06\n",
            "3948    1.418724e+06\n",
            "4578    1.342068e+06\n",
            "2420    1.737982e+06\n",
            "2065    9.498799e+05\n",
            "Name: Price, Length: 1250, dtype: float64\n",
            "[1161843.62254892 1102258.81671246 1186592.69708807 ... 1294509.60273836\n",
            " 1753048.53923373 1043884.5357145 ]\n"
          ]
        },
        {
          "output_type": "display_data",
          "data": {
            "text/plain": [
              "<Figure size 432x288 with 1 Axes>"
            ],
            "image/png": "iVBORw0KGgoAAAANSUhEUgAAAXQAAAEQCAYAAACgBo8fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADh0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uMy4yLjIsIGh0dHA6Ly9tYXRwbG90bGliLm9yZy+WH4yJAAAgAElEQVR4nO3df4wc5Zkn8O932mXSYyLaxI4CjR2zLNjC68UDc+DEpwg4CRPYNXMQMGjZPSJ2ud277IY7MpK9i7CJcmJO1gHKkl1kJWg3F5aYH96RWUh8kWwJ1rfmGDM2ZsDOAQ7EjXXMYo+JPY3dM/PcH9017ump6q6e6e6qrvp+pJFnuqq7X5fHz7zz1PM+L80MIiLS/jrCHoCIiDSGArqISEwooIuIxIQCuohITCigi4jEhAK6iEhMhBrQST5F8mOSbwU8/w6Sb5McIvkPzR6fiEg7YZh16CS/BuAkgB+b2e/UOPdSAM8CuN7MjpP8opl93Ipxioi0g1Bn6Gb2CoBj5Y+RvITkz0nuJfkqyWWlQ38C4Admdrz0XAVzEZEyUcyhbwHw52Z2FYDvAPib0uOXAbiM5G6Se0jeGNoIRUQiaE7YAyhH8lwAXwXwHEn34XNKf84BcCmAawFcBOAVkivMbKTV4xQRiaJIBXQUf2MYMbOVHseOAHjNzAoADpP8JYoB/vVWDlBEJKoilXIxs09RDNa3AwCLrigd7kdxdg6SC1BMwbwfxjhFRKIo7LLFZwD8C4ClJI+QvBfAHwC4l+R+AEMAbimdvgPAJyTfBrALQK+ZfRLGuEVEoijUskUREWmcSKVcRERk5kK7KbpgwQJbsmRJWG8vItKW9u7d+69mttDrWGgBfcmSJRgYGAjr7UVE2hLJD/yOKeUiIhITCugiIjGhgC4iEhM1AzrJRSR3lbWt/bbHOdeSPEFyX+njoeYMV0RE/AS5KToG4AEze4Pk5wHsJfkLM3u74rxXzez3Gj9EEREJomZAN7OjAI6WPv8NyXcAZAFUBnQREamifzCHzTsO4aORPC7MpNG7Zil6urINe/26cugklwDoAvCax+GvkNxP8mckl/s8/z6SAyQHhoeH6x6siEi76h/MYcO2A8iN5GEAciN5bNh2AP2DuYa9R+CAXmpt+wKA+0tNtMq9AeDLZnYFgL9GsZHWNGa2xcy6zax74ULPungRkVjavOMQ8oXxKY/lC+PYvONQw94jUEAn6aAYzJ82s22Vx83sUzM7Wfr8ZQBOqSOiiIgA+GgkX9fjMxGkyoUAfgTgHTN71OecL5XOA8mrS6+rTogiIiUXZtJ1PT4TQWboqwH8IYDry8oSbyL5pyT/tHTONwC8VWp5+30Ad5raOIqITOpdsxRpJzXlsbSTQu+apQ17jyBVLv8MgDXOeQLAE40alIhI3LjVLM2sconaFnQiIrHV05VtaACvpKX/IiIxoYAuIhITCugiIjGhHLqISIM0e2l/LQroIiIN4C7td1eDukv7AbQsqCvlIiLSAK1Y2l+LArqISAO0Yml/LQroIiIN0Iql/bUooIuINEArlvbXopuiIiIN0Iql/bUwrB5a3d3dNjAwEMp7i4gEMZsyxGaVMJLca2bdXsc0QxcR8TCbMsSwShiVQxcR8TCbMsSwShgV0EVEPMymDDGsEkYFdBERD7MpQwyrhFEBXUTEw2zKEMMqYdRNURFJpFpVKLMpQwyrhFFliyKSOJVVKEBxBv3IrStaWjc+E9XKFpVyEZHEiUIjrWZQQBeRxIlCI61mUEAXkUTpH8yhg/Q81spGWs2gm6Iikhhu7nzc495hvVUoYe9O5EUBXUQSwyt37rrtqmxdfVrC3p3Ii1IuIpIY1XLkuw4OB36dqN5U1QxdRCKlmamMCzNp5BpwQzSqN1U1QxeRyHBTGbmRPAxnUxn9gznf81f37cTF61/C6r6dvue5etcshfft0PpuiEZhdyIvCugiEhn1pDJmEvw37zgEr6WU9d4QjcLuRF6UchGRyKgnleEX/B9+cWhaisZrZSgBGIBsjbRO/2AOD784hOOjBQBAJu1g09rleOTWFapyERHx45fjLk9luDNtv1z48dECHuw/gF0HhyeD7eiZsWnB3w3mu9df7zue/sEcep/fj8L42Xn9SL6A3uf2Y/PtV1R9bhgU0EUkMnrXLJ02kwaA0TNjk6kUr+OVfrLnw8nP/QI/MHXm73UzdvOOQ1OCuaswYdi841DoM/JKCugiEhlugNy0fQgj+cLk48dHC9iw7QDOmdNRM5jXw535+9WVV3uvsCtavNS8KUpyEcldJN8mOUTy2x7nkOT3Sb5L8k2SVzZnuCISdz1dWcw7Z/pcM18YnxLkZ4soBu7VfTvx8ItDnvn4asKuaPESZIY+BuABM3uD5OcB7CX5CzN7u+ycrwO4tPRxDYC/Lf0pIlK3Zsx+CSDT6eD4aGHyhihQPSXjx+lg6BUtXmrO0M3sqJm9Ufr8NwDeAVCZOLoFwI+taA+ADMkLGj5aEUmEeme/HX7F5WUMwEipUmU2u0Bk0g42335F5PLnQJ05dJJLAHQBeK3iUBbAr8u+PlJ67GjF8+8DcB8ALF68uL6RikjseN2IBIBTp8fqep1H71gZ6GbpbLfzIYB9G2+Y5as0T+CFRSTPBfACgPvN7NOZvJmZbTGzbjPrXrhw4UxeQkRiwmthUO9z+9H7/P66cuWpUivcR25dgWwmDaJYjlivTNqZfH6qTdvrBpqhk3RQDOZPm9k2j1NyABaVfX1R6TEREU9eC4MKE/XPocfN0Pvcfpz7uTkYGS1MKTkMmh9POylsWrt8Mo3it0VdFPPm5YJUuRDAjwC8Y2aP+py2HcAflapdVgE4YWZHfc4VkRiqt69KI298FiYMx0cLU1oAXLds4bTl+V6ymfS0vUR7urLTZvxtsd9orU2iSf5bAK8COABgovTwXwJYDABm9mQp6D8B4EYAowC+aWZVd4DWJtEi8RF00+XynHkH6bnRRKNkK2bq5ZUtfuNrB9U2ia6ZcjGzfwZ8G5S55xiA/zyz4YlIVAVtZVutqZZfGsMrmDsdBAjP1Zn1+mgkj56u7JT3j1rvlUbTSlGRhKg3oNWzK0+Qplpei3fKuU2v3HPdZlgzlel0pnxdHtzjSu1zRRKg3lazQH2tbP2qPwzA6r6deLD/QM0AfXqsmNHt6cpi8KEb8Pi6lcikzwbleXNTyKSd4gKhtIP5nWc/T3kUop/8bKxmHj9uFNBFEmAmW6bV08rWqz+4KzeSx9NlzbL85AvjuH/rPjzYf2DyMTfIA8CpM+M4PTaBx9atxL6NN2DwoRtwuO9m7Nt4Az7v0SrAbaCVJAroIgkwky3T6tmVp6cri9uuyvrWb9eTEf/Jng+x/KGf+/ZX8QrSJ3zq1qPYQKuZlEMXSYAgfcYrebWydWuxK/Px1y1biBf25hpWtXLqzDhOnfHOt3sF6Zn8/eJIM3SRBJjJlml+tdgApuXjn97zYUPb2lbjFaSjuiVcq2mGLpIAbnWHV5VLteoXr8qQ1X07PXf/aZUlX5ga0N3x5wvjSJVq22ttKxdXCugiMeUVqCu3TKunNNEVdl76f793DP2DuckfRpW17e7MPGnBHFBAF4klv0A98MGxmnttVi4IquSXr24VA/DAs/sBBFvQlCQ1l/43i5b+izTP6r6dnkG3cvl7NdlM2jMN47fMnzCMFib8Xq7h0k7KN29PAIf7bm7ZWFppVkv/RaT9+KVFggZzd3s2lP68f+s+/Ndn98GvGeLnnI5Zr+ysV3nOvFLSqltcqnIRiaHZBDS/WXy1zratDuYuN2deLonVLS4FdJEY6l2ztNjoqk4dbG3Fymy5pZTt1ua2WZRyEYmr+uM5Jqy+PHuYCEzm9pMawCtphi4SQ5t3HJpxC9p2COZAcZwK5FMpoIvEUJhlha0yk31D404BXSRm+gdzM8m2tJUk3/isRjl0kRio3NqtXdImQc2bm0Kmc26sdxtqBAV0kQioZzchv06H1bZ289MON0DTTgr/7d8nt3KlHgroIiEL0k/FDeKVmx27nQ5nEpRTJO66ZtGUHwatknY6cP68czw3b3ZSxLy5c3AiX9BsvE4K6CIhq9WPpDLgVwbvmQRzp4M493Nz8PSeD3Fe2mn5Ss/PChOTjcKSsHlzqyigi4Ss1m5CXgF/tgoTNhnAR3x2+2mm8pWsqiNvHAV0kZCdl3Y8g6oBuGTDyw3bBSgqVKHSPAroIiHz2YYTQH03OMNGAl7Dnd/poHPuHKVUWkABXSRkIyE1tmq08z7n4PTYxLS2uht/f7kCeItoYZFIyOLS6vVEvqBGWSHTDF2kiWpVcPQP5nDq9FiII2ycCzNp3eAMmQK6SJNUqy8HgL/6xwM4daa19d/N4nRQNzojQAFdpEn86ss3bR/CqTNjM+6GGDWZtINNa5cDKG59p5uf4VFAF2kSv/ryMOq+m4EEDj9S3LczyGpXaT7dFBVpkrjc7PRjVgzkQPXVrtI6CugiTdK7Zum0/S7jxg3YtVa7SmvUDOgknyL5Mcm3fI5fS/IEyX2lj4caP0yR9tPTlcUjt67A/E4n7KE0TW4kj9V9O5Hx+TvG/beUqAkyQ/87ADfWOOdVM1tZ+vju7IclEg89XVl0zo33rarcSB4nPxuDk5q65FVL/FuvZkA3s1cAHGvBWERiKQnbwRUmDPPmztGiopA1aurwFZL7AXwE4DtmNuR1Esn7ANwHAIsXL27QW4tEh9dCohTZVj1ZvDgpwukgRgsTvuecyBewb+MNLRyVVGpEQH8DwJfN7CTJmwD0A7jU60Qz2wJgCwB0d3e393e4JJbf6k+v0r37t+4LebQz5248Mb/TwcnPxqoGc0D58iiYdZWLmX1qZidLn78MwCG5YNYjE4kgN2jnRvIwnK23doN8q3f+abSOUho8m0njsXUr8au+m9E5dw4KE9XnX8qXR8OsZ+gkvwTg/5mZkbwaxR8Sn8x6ZCIR5Fdv/fCLQ23XNdFrP9EJOxuc3fx3tdJDAloVGiE1AzrJZwBcC2ABySMANgJwAMDMngTwDQB/RnIMQB7AnWZtnjAU8eEX3I6PFjBvbqqterP4/Sct3/4OKAZsrxu72Ux6chs5iYaaAd3M7qpx/AkATzRsRCIRUpkvz3Q6vntvtlMwr6X8B1fvmqVT7g0ASrFEVbwLZEVmoX8wh97n9k/mj5NQfuiq3PMTgDZybgMK6JJo1fqVb9o+VPNmYBx5zb7V57w9KKBLYvl1CBz44Bh2HRyOTVfEeszvdLRlXBtTQJfE8qtY+cmeD0MaUWtp8+b4UUCXxEpSTtyLZuLxo/a5kkj9gzmw9mmxlUk7CuYxpBm6xEatDZnLbd5xyLcOO+6cDk5uGSfxooAusVDPFmj9g7nEplvc/T81O48nBXSJhWpboJUHLzfw+yGLW6vFTdpJqZ1tAiigSywE2QKtfzCHB57dX7WVbVyCeafTgblzUjiRL6iCJUEU0CUW/JbkG4DVfTtx3bKF2Pp/ft32fcmDyKQd9SVPKAV0iYVqcTo3kk9MbTlQ3GhCkkllixILCmJnaaOJ5NIMXSKvvBwx7XQgPzYBMyBFYtVvzcfQR7+JfQliB4DzOh2MjBZwXtrBqTNjKIxP/1urC2KyaYYukVa5Q9BoYWIyvTJuht3vHUtEz5WvXHI+Bh+6AY+tW4l558xBYdyQYnFplPunNmYWzdAl0uKwrVsj7H7vGLq++79w8rOxyQ6Q42YqR5QpNEOXSKu2/VnSHB8tTGvn69baiwAK6BKi/sEcVvftxMXrX8Lqvp3oH8xNOycpN/jSTgceX7dyRs/VDz1xKaBLKCpz4+5S/cqgnpQbfJ8VJtDTlcXdqxbX/dyk/NCT2hTQJRTVluqX6+nKIpN2Wjm0ULhB+Xs9K3D3qsWTNzprUVWLlFNAl1AEWarv2rR2OZxUfJvddnDqbyLf61mB9x65yfcHGUsfqmqRSgroEgq/NIHX4z1dWcyb274FWU4HcfeqxUg7KY9jwKN3rPQMypvWLofTwYrzicfWrcThvpuxe/31CuYyhQK6hKJ3zdJpAc4rfeDeOG3nWvPChGHXwWE8cusKZDNpEMXt3zJpB2MTxfST1w3hnq4sNt9+xeRzspk0Nt9+hYK4+KKF1Kyou7vbBgYGQnlviYbKDSmuW7YQuw4OIzeSR4qMVSMtAjjcdzOA6b3bAbW3leBI7jWzbq9j7ft7rLS9nq7sZACrDHJxCubA1FRS0N7tIvVSQJeWqLY9XJA+5e2sMpVUzw1hkXoooEvTVdseDgA2bDsQ22Ce9dhc4sJM2nMLPNWTy2wpoEvT+aUY4jwrB4rBfPf666c93rtmqWcOXfXkMlsK6DIj1VIolfxSCXEO5gCw5AveM273OgW9fiJBKaBL3fxSKAMfHMOug8PTgtR5aaetyw5nas/7x32Pld8QFmkUBXSpm18K5ek9H05uNFGeJw+4ij124v4biESPFhZJ3fxSKJXhyy3FG/HYvDkJgvZjEWmUmgGd5FMkPyb5ls9xkvw+yXdJvknyysYPU6KknmoMN/0SV9lMGqsvOd/z2F3XLGrxaCTpgszQ/w7AjVWOfx3ApaWP+wD87eyHJVHmtWzfby7qrgCNoxSJj0by+NUneay+5PwpW8LdvWoxvtezIuQRStLUzKGb2Sskl1Q55RYAP7ZiD4E9JDMkLzCzow0ao0RMeZVG+TJ9YmraJe2kcN2yhdj6+q9DGWezuTny3Egex06dwf+4Q31WJFyNyKFnAZT/jz1SemwakveRHCA5MDw83IC3ljCdOj0G4GxgM5ydqbutXXcdHPbcnb6deeXGtRWcREFLb4qa2RYz6zaz7oUL4/lreBK4ZYtepYiGqQtqvFZEtrNsJo0Jn+oVLd2XsDWibDEHoPzuz0Wlx6TNeS0eAlBzhWduJI8l619q1TBbxl3N6aaaKsX55q+0h0YE9O0AvkXypwCuAXBC+fP257V4qPe5/QCTUV/d6XRgtDAxeX+gsieLlu5LFNUM6CSfAXAtgAUkjwDYCMABADN7EsDLAG4C8C6AUQDfbNZgpXW8Fg8VJuIVyFdfcj5+9Unec7Y9f945eNujDwugpfsSXdrgQjxdvP6laQuF4sbpoO8PqfINKaqpp6eNSCNogwupyiso+bV4jZPChPnujBQkH16tLbCCuoRBS/8Tzg1KuZE8DGeD0nXLFvouFoqTcbNAe5t6qbbzkEgYFNBjyN1Y+eL1L2F1307PDYhdfkFp18Hh2KdcgLP18uUbMQfd21M7D0nUKOUSM0HTAG6axS+t8tFIHtmYp12cDk7mvGeSItHOQxI1mqHHTK00wIP9B3Dxhpdw/9Z9VYN1ptNB75qlsUq7dJT9ZTJpB5tvn91Sfa+eNipflDBphh4z1dIAD/YfwE/2fBjodY6PFjDwwTF89ZLzsfu9Y40cYijSTipwKiUolS9K1Cigx0y1NMAzr9XXJOvpPR8i0+k0amgtlyIxYdbUQKudhyRKlHKJmWppgHpXeBqKM/V2NWGGw303Y/f66xV0JREU0GOmpyvrW7WRtB10dHNSkkYpl5g6dXpssq78r/7xAHqf24d26GJLAL/9xXn4vx+fCvycVAfRgamtCdzfSrSSU5JEAT0mqpUhnjoz7vGMaDIAo2cm6npOB4B1Vy/CroPD0zpDaiWnJIkCegxU1p63u9xIftruR9UUJgy7Dg5P9mB3re7b6VvCqYAucaQcegx41Z63sxTpGcyr3QHwKtfUSk5JGgX0GIhTgEo7Kd9qHHc3JC9eN0D9borqZqnElQJ6DLRjgEqRIIorNud3OlMqcvyCtrvJRNDVmVrJKUmjHHoMXLdsYeAVoFHgdBBOihgtGEbyBczvdPDYupVT8tp+OwLVszpTKzklabTBRZtrtxuiTgcwbkDlvhJOilj3b85WqmQ6HZgBJ/IFBWKRMtrgIsba7Ybo2IR39Uph3PD0ng8njx0fLSDtpKbN3EXEn3Loba7dbohW+32w8pg2ixCpj2boEVPvysa4bxXXbj+wRMKkGXqE+G0HV23HoeuWLWzoGLKZ9Kx6vsxNNbZfTDtW8IiERTP0CKm1OUXlzB1A3S1xqyGKpX73b90349cojBs6nQ6MFryX76edFG67Kot/2n8UI/liJ8f5nQ5u/t0L8MLenGdli4gEo4AeIX7phdxIfkqQzY3k8cBz+9EB1N0Stxr3lVLkjF/XAJzjpFCYMBQquoFl0g42rV2Onq4svtezYtpzu798vkoMRWZBAT1C6smHj08YGl3bMr/TwYZtB2b9Q2JktIDH1q2sOzhrswiR2VFAj5DeNUtDqylPOymYoSHvfWEmreAsEgLdFI2Qys0pWiWbSeO2q7KTOe3ZcFJU3lskJAroEdPTlcXu9dfjcN/Nvj1NGunxdSvRu2YpXtjrX0njJZN28Pi6lXA6Kn70tMEmGiJxpYAegv7BHFb37cTF61/C6r6dvmWJXs2lXE4HcfeqxbMax92rFqOnKzuj1aab1i7H5h2HpuwSBBR7k2sxkEg4lENvof7BHB5+cWjKxsvVdtEpby6VG8mjg2d7oBQmDC+9eRTz5qZmtCNRJu1MVprMZPFOT1cW/8WnvFGLgUTCoRl6i7iLhsqDuStfGMf9W/d5ztbdFMzj61ZOW/BzfLSAfGEcqcq0RwAnyvLl9S7eccehfuMi0aKA3iJB0hrVVoZ6pTeA4ox9YsIwv9OpazzlQbdaasfLXdcsAuC/SrXRq1dFJBilXFokaBqifM/L8r4utZpafVaYwOPrVgIANm0fqlmxUh50K1M71dy9avFkqmbXwWHPc/weF5HmCjRDJ3kjyUMk3yW53uP4PSSHSe4rffxx44fa3upJQ3w0kp/W16WWfGEcD784hJ6uLPZtvKHmjL0y6PZ0ZWuWGxKYssJTe3aKREvNgE4yBeAHAL4O4HIAd5G83OPUrWa2svTxwwaPs+3Vk9a4MJPGwy8O1V15cny0MJmu2fj7y6eXFJapnIm7P0Bqjava17UeF5HmCjJDvxrAu2b2vpmdAfBTALc0d1jx4y4aqtXJMO2kcN2yhZ43T4OYUjJY5a0ITMnV18rxOx3TFwxpz06RaAkS0LMAylv6HSk9Vuk2km+SfJ7kIq8XInkfyQGSA8PDycuz9nRlMVGlTwoB3HZVtmYOutrM2013bN5xaFpzrHKGqcG/Wpokk3aw+fYrPMsqy1e2ups8a8m/SDgadVP0RQDPmNlpkv8RwN8DuL7yJDPbAmALUNxTtEHv3VaqNeAyYHJPzWq8ql3KXx8IlscuP8dvXNlMGrvXT/unnKSeLSLREWSGngNQPuO+qPTYJDP7xMxOl778IYCrGjO8+KmVS3e7E85EebojyGvUKl1U+kSkvQQJ6K8DuJTkxSTnArgTwPbyE0heUPblWgDvNG6I8VIrl+62mq2nLhwoLvYpT3f0rllatcFXZbBW+kSk/dVMuZjZGMlvAdgBIAXgKTMbIvldAANmth3AX5BcC2AMwDEA9zRxzG3PDZKVrXLdIFtZF07U7nk1YTYl+PZ0ZavuPOQVrJU+EWlvgXLoZvYygJcrHnuo7PMNADY0dmjxVh60vTaBKA+u5QuMOnx2E/JKsWSr5MUVuEXiRytFK5QHz1o77dRzrtdzzks7CLIfc2Vw95vZV/LaMEN5cZH4SmRA9wvElcGyWifEes71e0758vwgzy8/FuQHST3nikj7ozVwk+F6dHd328DAQMvf12+G+8itK3x7mXiV7q3u21l3mZ/fc4I+X0SE5F4z6/Y6lrhui14rIt2GWPX0JplJH5N6a8NFROqRuIBeLRDX05tkJn1M6q0NFxGpR+ICerVAXM/impksxKlVX64bliIyG4kL6NUCcT2La2ayEKfyOZm0g/mdjhbyiEhDJO6mKDCzckMRkSiodlM0kWWLWhEpInGUuJSLiEhcKaCLiMSEArqISEwooIuIxIQCuohITCigi4jEhAK6iEhMKKCLiMSEArqISEwooIuIxIQCuohITCigi4jEhAK6iEhMKKCLiMREW7bPVT9zEZHp2i6g9w/msGHbgcmNnnMjeWzYdgAAFNRFJNHaLuWyecehyWDuyhfGsXnHoZBGJCISDW0X0D8aydf1uIhIUrRVQO8fzKGD9Dx2YSbd4tGIiERL2wR0N3c+7rGpddpJoXfN0hBGJSISHW0T0L1y5wCQIvHIrSt0Q1REEq9tArpfjnzCTMFcRARtFND9cuTKnYuIFAUK6CRvJHmI5Lsk13scP4fk1tLx10guafRAe9csRdpJTXlMuXMRkbNqBnSSKQA/APB1AJcDuIvk5RWn3QvguJn9NoDHAPz3Rg+0pyuLR25dgWwmDQLIZtLKnYuIlAmyUvRqAO+a2fsAQPKnAG4B8HbZObcA2FT6/HkAT5CkmUdJyiz0dGUVwEVEfARJuWQB/Lrs6yOlxzzPMbMxACcAfKHyhUjeR3KA5MDw8PDMRiwiIp5aelPUzLaYWbeZdS9cuLCVby0iEntBAnoOwKKyry8qPeZ5Dsk5AM4D8EkjBigiIsEECeivA7iU5MUk5wK4E8D2inO2A/gPpc+/AWBno/PnIiJSXc2bomY2RvJbAHYASAF4ysyGSH4XwICZbQfwIwD/k+S7AI6hGPRFRKSFGNZEmuQwgA/qfNoCAP/ahOG0G12HIl0HXQNXkq7Dl83M8yZkaAF9JkgOmFl32OMIm65Dka6DroFL16GobZb+i4hIdQroIiIx0W4BfUvYA4gIXYciXQddA5euA9oshy4iIv7abYYuIiI+FNBFRGIikgE9Cv3XoyDAdbiH5DDJfaWPPw5jnM1E8imSH5N8y+c4SX6/dI3eJHllq8fYCgGuw7UkT5R9LzzU6jE2G8lFJHeRfJvkEMlve5yTiO8HX2YWqQ8UV6O+B+C3AMwFsB/A5RXn/CcAT5Y+vxPA1rDHHdJ1uAfAE2GPtcnX4WsArgTwls/xmwD8DAABrALwWthjDuk6XAvgn8IeZ5OvwQUArix9/nkAv/T4P5GI7we/jyjO0Cf7r5vZGQBu//VytwD4+9LnzwP4dyTZwjG2QpDrEHtm9gqK7ST83ALgx1a0B0CG5AWtGV3rBLgOsWdmR83sjdLnvwHwDlO+/l0AAAKiSURBVKa38k7E94OfKAb0hvVfb3NBrgMA3Fb61fJ5kos8jsdd0OuUBF8huZ/kz0guD3swzVRKs3YBeK3iUKK/H6IY0CW4FwEsMbPfBfALnP2tRZLnDRR7fFwB4K8B9Ic8nqYheS6AFwDcb2afhj2eKIliQFf/9aKa18HMPjGz06UvfwjgqhaNLUqCfL/Enpl9amYnS5+/DMAhuSDkYTUcSQfFYP60mW3zOCXR3w9RDOjqv15U8zpU5AbXophTTJrtAP6oVN2wCsAJMzsa9qBajeSX3PtIJK9G8f92rCY5pb/fjwC8Y2aP+pyW6O+HIJtEt5Sp/zqAwNfhL0iuBTCG4nW4J7QBNwnJZ1Cs4FhA8giAjQAcADCzJwG8jGJlw7sARgF8M5yRNleA6/ANAH9GcgxAHsCdMZzkrAbwhwAOkNxXeuwvASwGkvX94EdL/0VEYiKKKRcREZkBBXQRkZhQQBcRiQkFdBGRmFBAFxFpgVoN1jzOv6OsEdk/BHqOqlxERJqP5NcAnESx18zv1Dj3UgDPArjezI6T/KKZfVzrPTRDFxFpAa8GayQvIflzkntJvkpyWenQnwD4gZkdLz23ZjAHFNBFRMK0BcCfm9lVAL4D4G9Kj18G4DKSu0nuIXljkBeL3EpREZEkKDUZ+yqA58q6f59T+nMOgEtRXB18EYBXSK4ws5Fqr6mALiISjg4AI2a20uPYERQ35ygAOEzylygG+NdrvaCIiLRYqfXvYZK3A5Pb511ROtyP4uwcpa6ZlwF4v9ZrKqCLiLRAqcHavwBYSvIIyXsB/AGAe0nuBzCEs7uS7QDwCcm3AewC0GtmNbtnqmxRRCQmNEMXEYkJBXQRkZhQQBcRiQkFdBGRmFBAFxGJCQV0EZGYUEAXEYmJ/w/pftjvtz7VuAAAAABJRU5ErkJggg==\n"
          },
          "metadata": {
            "needs_background": "light"
          }
        }
      ]
    }
  ]
}